<div id="fe_ad_container_<%= ad.id %>" class="fe_ad_container" >
  <% if user_id %>
    <span class="favorite">
      <% if ad.favorite?(user_id) %>
        <%= link_to image_tag('fav_marked.png', "data-initial" => 'fav_marked.png', "data-next" => 'fav_marked.png'), unmark_fav_ad_path(ad.id), { :remote => true, :id => "favorite_#{ad.id}" } %>
      <% else %>
        <%= link_to image_tag('fav_unmarked.png', "data-initial" => 'fav_unmarked.png', "data-next" => 'fav_marked.png'), mark_fav_ad_path(ad.id), { :remote => true, :id => "favorite_#{ad.id}" } %>
      <% end %>
    </span>
    <% if ad.user.id == user_id %>
      <%= link_to image_tag('create_ad_icon.png'), edit_ad_path(ad.id), :title => I18n.t("user.edit_ad") %>
    <% end %>
  <% end %>
  
  <%= form_tag ad_path(ad), :class => "fe_ad_clickable" do %>
    <div class="fe_ad_thumbnail"><%= image_tag ad.thumbnail.url(:thumb) %></div>
    <div class="fe_ad_title"><%= ad.short_title %></div>
    <%= hidden_field_tag :search_terms, @search_terms %>
  <% end %>
</div>
