obj = $('#dashboard_fe_ad_container');
html = '';
<% if @search_terms and not @search_terms.empty? %>
html = '<div class="breadcrumbs"> <%= render_breadcrumbs %> </div>';
<% end %>
<% if @ads.empty? %>
	html += '<p><%=t "no_ads_found" %></p>';
<% else %>  
  html += '<%= escape_javascript render :partial => 'ad', :collection => @ads, :locals => { :user_id => @user_id } %><br style="clear:both" />';
<% end %>

obj.html(html);

$(".fe_ad_clickable").click(function() {
	this.submit();
});

/*****************************
        AJAX Pagination
*****************************/
$(".apple_pagination").html("<%= escape_javascript will_paginate @ads %>");

$(".pagination a").click(function() {
    var re = /page=([\d]*)/g;
    var page = re.exec($(this).attr("href"))[1];
    $.get('<%= url_for :action => 'update_search', :section_id => @section_id %>&page=' + page);
    return false;
});

