<div id="single_content">

<div class="breadcrumbs">
  <%= render_breadcrumbs %>
</div>

<h1><%=t "admin.reported_comments" %></h1>

<div id="comments">
  <% if @comments.empty? %>
  <%=t "admin.no_comments" %>
  <% end %>
  <% @comments.each do |comment| %>
  <div class="comment">
    <div class="comment_actions">
      <%= link_to I18n.t("admin.remove_comment"), comment, confirm: I18n.t('confirm_delete'), method: :delete %>
    </div>
    <div class="comment_author">
      <%=t "admin.commented_by" %> <b><%= comment.user.username %></b>
      <%=t "admin.commented_in" %> <%= link_to comment.ad.title, ad_path(comment.ad_id) %>
      <%=t "admin.commented_at"%> <%=l comment.created_at, :format => :short %>
    </div>
    <div class="comment_content">
      <b><%=t "admin.comment_content" %></b> <%= comment.content %>
    </div>
    <% comment.reports.each do |report| %>
    <div class="report">
      <div class="report_actions">
        <%= link_to I18n.t("admin.ignore_report"), report, confirm: I18n.t('confirm_delete'), method: :delete %>
      </div>
      <div class="report_author">
        <%=t "admin.reported_by" %> <b><%= report.user.username %></b>
        <%=t "admin.reported_at"%> <%=l report.created_at, :format => :short %>
      </div>
      <div class="report_reason">
        <b><%=t "admin.reported_reason" %></b> <%= report.reason %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>